@model StatisticsIndexViewModel

@{
    if (Model.medias.Count() == 0)
    {
        <br />
        <strong>There are currently no medias listed.</strong>
    }

    else
    {
        <table>
            <thead>
                <tr>
                    <th>
                        media
                    </th>
                    <th>
                        Creator
                    </th>
                    <th>
                        Rating
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><strong>Highest rated</strong></tr>
                <tr>
                    <td class="info">
                        @Model.Highestrating.Description
                    </td>
                    <td class="info">
                        @Model.Highestrating.Creator
                    </td>
                    <td class="info">
                        @Model.Highestrating.Rating
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>
                        media
                    </th>
                    <th>
                        Creator
                    </th>
                    <th>
                        Rating
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><strong>Lowest rated</strong></tr>
                <tr>
                    <td class="info">
                        @Model.Lowestmedia.Description
                    </td>
                    <td class="info">
                        @Model.Lowestmedia.Creator
                    </td>
                    <td class="info">
                        @Model.Lowestmedia.Rating
                    </td>
                </tr>
            </tbody>
        </table>
        
    }
}



<style>
    table, td {
        border-bottom: 1px solid black;
    }

    .info {
        width: 20vw;
    }
</style>