@model MediaDetailViewModel;

<br />
<strong>This is the DETAILS page.</strong>


<div class="grid-container">
    <div class="Photo">
        <img src="@Model.PhotoUrl" class="photo-url" />
    </div>

    <div class="Title">
        @Model.Title
    </div>

    <div class="Description">
        @Model.Description
    </div>
    <div class="Release-Date-Label">
        <strong>Release date</strong>
    </div>
    <div class="Category-Label">
        <strong>Category</strong>
    </div>
    <div class="Category-Input">
        <p>@Model.Category</p>
    </div>
</div>
<div class="Functions">
    <p>
        <a asp-controller="media" asp-action="detail" asp-route-id="@Model.Id"> Details</a> |
        <a asp-controller="media" asp-action="edit" asp-route-id="@Model.Id"> Edit</a> |
        <a asp-controller="media" asp-action="delete" asp-route-id="@Model.Id"> Delete</a> |
        <a asp-controller="film" asp-action="index"> Back to film overview</a>
    </p>
</div>

<style>
    .View-Content form {
        width: 100%;
    }
        .View-Content form input {
            width: 100%;
            height: 100%;
        }

    div .col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "Title Title Title" "Photo Director-Label Director-Input" "Photo Release-Date-Label Release-Date-Input" "Photo Duration-Label Duration-Input" "Photo Genre-Label Genre-Input" "Photo Status-Label Status-Input" "Photo Accessibility-Label Accessibility-Input" "Photo View-Content View-Content" "Functions Functions Functions";
    }

    .Title {
        display: flex;
        justify-content: center;
        grid-area: Title;
        font-size: 40px;
        letter-spacing: 2px;
    }

    .Functions {
        grid-area: Functions;
        display: flex;
        justify-content: center;
    }

</style>