

@model IEnumerable<MediaListViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MediaApp.Domain.MediaAppIdentity> signInManager

<button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Create", "Media")'">Add new Media</button>
@*<a asp-controller="media" asp-action="Create">Add new Media</a>*@
@{
    if (Model.Count() == 0)
    {
        <br />
        <strong>None Available.</strong>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>
                        Watched
                    </th>
                    <th>
                        Media
                    </th>
                    <th>
                        Creator
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Rating
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (MediaListViewModel media in Model)
                {
                <tr>
                    <td class="info">
                        <label asp-for="@media.Watched"></label>
                        <input type="checkbox" asp-for="@media.Watched" checked="@(media.Watched == true)" onclick="saveWatchedStatus('@Url.Action("UpdateWatchStatus","media")',@media.Id
)">                            <span class="checkmark"></span>

                    </td>


                    <td class="info">
                        <img src="@media.PhotoUrl" style="width: 20px; height: 20px;" />
                        @media.Category
                    </td>

                    <td class="info">
                        @media.Creator
                    </td>

                    <td class="info">
                        @media.Title
                    </td>


                    <td class="info">
                        @media.Date.Year
                    </td>
                    <td class="info">
                        @switch (media.Rating)
                        {
                            case 0:<span class="stars-container stars-0">★★★★★</span>
                                break;
                            case 1:<span class="stars-container stars-10">★★★★★</span>
                                break;
                            case 2:<span class="stars-container stars-20">★★★★★</span>
                                break;
                            case 3:<span class="stars-container stars-30">★★★★★</span>
                                break;
                            case 4:<span class="stars-container stars-40">★★★★★</span>
                                break;
                            case 5:<span class="stars-container stars-50">★★★★★</span>
                                break;
                            case 6:<span class="stars-container stars-60">★★★★★</span>
                                break;
                            case 7:<span class="stars-container stars-70">★★★★★</span>
                                break;
                            case 8:<span class="stars-container stars-80">★★★★★</span>
                                break;
                            case 9:<span class="stars-container stars-90">★★★★★</span>
                                break;
                            case 10:<span class="stars-container stars-100">★★★★★</span>
                                break;
                        }

                    </td>
                    <td class="btn-group" role="group" aria-label="Basic example">
                        <form>
                            <button asp-controller="media" asp-action="Detail" asp-route-id="@media.Id" class="btn btn-outline-light">View  </button>
                        </form>
                        <form>
                            <button asp-controller="media" asp-action="Edit" asp-route-id="@media.Id" class="btn btn-outline-light"> Edit </button>
                        </form>
                        <form>
                            <button asp-controller="media" asp-action="Delete" asp-route-id="@media.Id" class="btn btn-outline-light"> Delete </button>
                        </form>

                    </td>


                </tr>
                }
            </tbody>
        </table>
    }
}
<div class="album py-5">
    <div class="container">

        <div class="row">
            @foreach (MediaListViewModel media in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em" style="text-anchor:middle">@media.Title</text></svg>
                        <div class="card-body">

                            <p class="card-text">@media.Category by @media.Creator <p style="color:dimgrey">@media.Description </p> 
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">Unwatched</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



<style>
    table, td {
        border-bottom: 1px solid black;
    }

    .info {
        width: 20vw;
    }
</style>

